@import "https://fonts.googleapis.com/css2?family=Changa&display=swap";
$mainColor: #d12d4a;
$mainGradientColor: linear-gradient(to left, #b52553, #761366);

@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}

@font-face {
  font-family: "DINNextLTArabic-Regular";
  src: url("../fonts/DINNextLTArabic/DINNextLTArabic-Regular.eot");
  src: url("../fonts/DINNextLTArabic/DINNextLTArabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Regular.woff") format("woff"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Regular.ttf")
      format("truetype"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Regular.svg#DINNextLTArabic-Regular")
      format("svg");
}
@font-face {
  font-family: "DINNextLTArabic-Medium";
  src: url("../fonts/DINNextLTArabic/DINNextLTArabic-Medium.eot");
  src: url("../fonts/DINNextLTArabic/DINNextLTArabic-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Medium.woff") format("woff"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Medium.ttf")
      format("truetype"),
    url("../fonts/DINNextLTArabic/DINNextLTArabic-Medium.svg#DINNextLTArabic-Medium")
      format("svg");
}

input, select, textarea{
  &:focus{
    outline: 0 !important;
  }
}

body {
  direction: rtl;
  font-family: myFont;
}

.clear {
  clear: both;
}

// start top header
.top-header {
  padding: 10px;
  .border-bottom {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .info {
    span:first-child {
      padding: 10px 0px 10px 10px;
    }
    span:last-child {
      padding: 10px 10px 10px 0px;
    }
    i {
      color: $mainColor;
      margin-left: 5px;
    }
  }
  .social {
    text-align: left;
    i {
      color: #555;
      margin-right: 5px;
      transition: all 0.5s ease;
      &:hover {
        color: $mainColor;
      }
    }
  }
}

// start bavbar
.upper-nav {
  padding: 5px;
  .logo {
    padding: 5px;
    text-align: right;
    img {
      width: 150px;
    }
    span {
      font-weight: bold;
    }
  }
  .login {
    padding-top: 10px;
    ul {
      li {
        padding: 15px;
        display: inline-block;
        .btn-login {
          color: #444;
          i {
            font-size: 14px;
            color: $mainColor;
            margin-left: 5px;
          }
          &:hover {
            border: 1px dashed $mainColor;
          }
        }
        .btn-rigister {
          border: 2px solid $mainColor;
          color: $mainColor;
          i {
            font-size: 14px;
            color: $mainColor;
            margin-left: 5px;
          }
          &:hover {
            background-color: $mainColor;
            color: #fff;
            // bordeR: 2px solid #fff;
            i {
              color: #fff;
            }
          }
        }
        .btn-add-ads {
          border: 1px solid $mainColor;
          background-image: linear-gradient(to left, #b52553, #761366);
          color: #fff;
          &:hover {
            background-image: linear-gradient(to left, #fff, #fff);
            border: 2px solid $mainColor;
            color: $mainColor;
          }
        }
      }
      li:last-child {
        border-right: 1px solid #ddd;
      }
    }
  }
}

// start header img
.header-img {
  margin-top: 50px;
  background-image: url("../images/header.png");
  height: 331px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

// sytart search bar
.search-bar {
  position: absolute;
  top: -10%;
  width: 100%;
  form {
    background-image: $mainGradientColor;
    padding: 20px;
    border-radius: 8px;
    img {
      position: absolute;
      top: 33.2%;
      margin-right: 5px;
      width: 2.5%;
    }
    input,
    select {
      width: 23% !important;
      padding: 12px;
      border: 0;
      height: 43px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    select {
      background-color: #fff;
      color: #666 !important;
      padding: 5px !important;
      font-size: 15px;
      padding-right: 30px !important;
    }
    input:first-child {
      width: 30%;
    }
    button {
      margin-top: -3px;
      height: 43px;
      width: 55px;
      background-color: $mainColor;
    }
  }
}

// start card slider
.slider-card {
  background-image: $mainGradientColor;
  padding-top: 50px;
  height: 270px;
  text-align: center;
  .swiper-container {
    width: 60%;
    height: 100%;
    margin: auto;
  }
  .swiper-wrapper {
    width: 85% !important;
    margin: auto;
  }
  .swiper-slide {
    width: 200px !important;
    margin: auto;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
  .card {
    text-align: center;
    width: 160px;
    height: 160px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    color: #000;
    &:hover {
      background-color: #e9456b !important;
      color: #fff;
    }
    img {
      width: 80px;
      margin: auto;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #772638;
    z-index: 99;
  }
  .swiper-button-next {
    left: auto !important;
    margin-right: 10px;
    &:focus {
      outline: 0 !important;
    }
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next:after {
    font-family: "Font Awesome 5 Free";
    content: "\f35a" !important;
    font-weight: 900;
    font-size: 35px;
  }
  .swiper-button-prev:after {
    font-family: "Font Awesome 5 Free";
    content: "\f35a" !important;
    font-weight: 900;
    font-size: 35px;
  }
}

// start ads
.ads {
  margin-top: 100px;
  .ads-header {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
  }
  .card {
    direction: ltr;
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
    border: 0 !important;
    margin-top: 30px !important;
    img {
      width: 300px;
      height: 200px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    .card-title {
      color: #000 !important;
      font-size: 16px;
      margin-top: 20px;
    }
    span {
      display: inline-block;
      margin-top: 12px;
      margin-left: 10px;
      font-size: 13px;
      i {
        margin-left: 5px;
      }
    }
    .card-body {
      position: relative;
    }
    .price {
      position: absolute;
      bottom: -40px;
      right: 15px;
      span {
        font-size: 20px;
        color: $mainColor;
      }
    }
  }
  .load-more {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 90px;
    .btn {
      width: 400px;
      margin: auto;
      color: #fff;
      border: 1px solid #ddd;
      background-color: #771365 !important;
    }
  }
}

// ============================================================================================================================
// start path
.path {
  text-align: right;
  background-color: #ddd;
  padding: 20px;
  span {
    &::before {
      font-family: "Font Awesome 5 Free";
      // position: absolute;
      margin-left: 6px;
      margin-right: 6px;
      content: "\f104";
      font-weight: 900;
      font-size: 13px;
    }
  }
  .first {
    &::before {
      content: "" !important;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    &:hover {
      color: $mainColor;
    }
  }
}

// ==========================================================================================================================

// ===========================================================================================================================
// start add ads page
.upload-ads {
  form {
    border: 1px solid #f4f4f4;
    margin-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 90px;
    .image-upload {
      text-align: center;
      margin-top: 20px;
      > input {
        display: none;
      }
      .file-upload {
        border: 2px dashed #b5b5b5;
        cursor: pointer;
        width: 170px;
        margin: auto;
        height: 100px;
        border-radius: 10px;
        background-color: #f4f4f4;
        line-height: 100px;
        position: relative;
        transition: all 1s ease;
        &:hover {
          border: 2px solid $mainColor;
        }
        i {
          color: #bdbdbd;
          font-size: 35px;
          position: relative;
          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f055";
            font-weight: 900;
            font-size: 15px;
            color: #d12c4c;
            position: absolute;
            bottom: 0;
            right: -8px;
          }
        }
        #file-name {
          position: absolute;
          bottom: -50px;
          // left: 0;
          margin-right: 33px;
        }
      }
    }
    .descripe-add{
      width: 80% !important;
      margin: auto !important;
      margin-top: 40px !important;
      .descripe-ad-input{
        width: 100%;
        padding: 5px;
        border: 1px solid #e4e4e4 !important;
      }
    }
    .ad-details {
      width: 80%;
      margin: auto;
      margin-top: 10px;
      textarea {
        width: 100%;
        // margin-top: 20px;
        padding: 5px;
        border: 1px solid #e4e4e4;
      }
      .form-select {
        margin-top: 20px;
        position: relative;
        select {
          border: 0 !important;
          border-radius: 0 !important;
          width: 30%;
          border-bottom: 1px solid #b5b5b5 !important;
          &:focus {
            outline: 0 !important;
            box-shadow: none !important;
          }
        }
        .fa-calendar {
          position: absolute;
          right: 0;
          bottom: 10px;
          color: #b5b5b5;
          margin-left: 5px;
        }
      }
      .input-number {
        margin-left: 5px;
        width: 30%;
        margin-top: 10px;
      }
    }
    .ul-types {
      margin-top: 30px;
      li {
        border-bottom: 1px solid #e9e9e9;
        margin-top: 10px;
        .type-word {
          font-size: 15px;
        }
        i {
          width: 30px;
          height: 30px;
          margin-left: 10px;
          background-color: $mainColor;
          color: #fff;
          font-size: 15px;
          line-height: 30px;
          text-align: center;
        }
      }
      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }
      .checkmark {
        position: absolute;
        top: 10px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .container input:checked ~ .checkmark {
        background-color: $mainColor;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .button-submit {
      text-align: center;
      .btn-submit-form {
        width: 40%;
        background-color: $mainColor;
        color: #fff;
        border-radius: 0 !important;
        margin-top: 50px;
      }
    }
  }
}

// =================================================================================================================
// start contact page
.contact-section {
  margin-top: 100px;
  margin-bottom: 90px;
  .contact-header {
    font-size: 25px;
  }
  form {
    .input-msg-subject {
      border: 0;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 15px;
      width: 50%;
      margin: 20px 0px 20px 0px;
      padding: 5px;
      &:focus {
        box-shadow: none !important;
        outline: 0 !important;
      }
    }
    .form-text-area {
      margin-top: 20px;
    }
    .btn-submit-form-contact {
      text-align: left;
      .btn {
        color: #fff !important;
        background-image: $mainGradientColor;
        border-radius: 5px !important;
        width: 200px;
      }
    }
  }
}

// =====================================================================================================================
// start add page
.show-add-section {
  margin-top: 90px;
  .add-header {
    margin-bottom: 20px;
    position: relative;
    h6 {
      display: inline-block;
      font-size: 20px;
    }
    span {
      position: absolute;
      left: 0;
      display: inline-block;
      background-color: $mainColor;
      color: #fff;
      width: 140px;
      height: 40px;
      line-height: 40px;
      border-radius: 6px;
      text-align: center;
      font-size: 20px;
    }
  }
  .add-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .add-information {
    border: 1px solid #f6f6f6;
    margin-top: 30px;
    padding-top: 20px;
    .table-head {
      background: linear-gradient(to bottom, #b52553 0%, #761366 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 20px;
      margin-bottom: 15px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0d9";
        font-weight: 900;
      }
    }
    .table {
      td {
        border: 0 !important;
        span:first-child {
          color: #555;
        }
      }
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #f7f7f7 !important;
    }
    .pargaraph {
      margin-top: 20px;
      p {
        font-size: 15px;
        color: #7b7b7b;
      }
    }
    .add-opinion {
      margin-top: 30px;
      border: 1px solid #f7f7f7;
      padding-top: 30px;
      .comment-float {
        float: right;
      }
      .comment-image {
        width: 10%;
        img {
          border-radius: 50%;
          width: 80px;
        }
      }
      .form-comment {
        height: 90px;
        width: 90%;
        position: relative;
        .text-comment {
          display: inline-block;
          width: 90%;
          height: 90px !important;
          background-color: #f8f8f8;
          border: 0;
          border-radius: 10px;
          padding-right: 10px;
        }
        .btn-comment {
          background-image: $mainGradientColor;
          color: #fff;
          height: 90px !important;
          position: absolute;
          width: 80px;
          border: 0 !important;
          margin-right: 5px;
        }
        .word-number {
          position: absolute;
          bottom: 0;
          left: 120px;
          color: #888;
          font-size: 12px;
        }
      }
    }
    .connection-data {
      padding-bottom: 50px;
      border: 1px solid #f7f7f7;
      padding-top: 50px;
      .connectiion-data-header {
        // display: inline;
        font-size: 20px;
        float: right;
        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f0d9";
          font-weight: 900;
          color: $mainColor;
          margin-left: 5px;
        }
      }
      .buttons-control {
        text-align: center;
        display: block;
        .btn {
          background-image: $mainGradientColor;
          text-align: center;
          border: 0;
          color: #fff;
          width: 120px;
          margin: 5px;
          i {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .social-media {
    text-align: center;
    padding-bottom: 20px;
    .social-border {
      border-bottom: 1px solid #f7f7f7;
      padding-bottom: 30px;
    }
    span {
      margin-top: 35px;
      display: inline-block;
      width: 15%;
      i {
        color: #888;
        font-size: 30px;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

// ===========================================================================================================================

// start agent page
.agent-section-tabs {
  .my-ads-header {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
  }
  margin-top: 90px;
  .v-tabs-right-choses {
    border: 1px solid #f8f8f8;
    margin-bottom: 20px;
    .nav-link {
      border: 1px solid #f8f8f8;
      color: #3a3a3a !important;
      border-radius: 0;
      padding: 10px;
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053";
        font-size: 13px;
        margin-left: 5px;
        color: #3a3a3a;
      }
    }
    .active {
      background-image: $mainGradientColor;
      color: #fff !important;
      position: relative;
      &::before {
        color: #fff;
      }
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0da";
        position: absolute;
        left: -1px;
        font-size: 30px;
        top: 5%;
      }
    }
  }
  .my-ads-card {
    .card {
      direction: ltr;
      border-radius: 10px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
      border: 0 !important;
      margin-top: 30px !important;
      img {
        width: 210px;
        height: 170px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      .card-title {
        color: #000 !important;
        font-size: 16px;
        margin-top: 20px;
      }
      span {
        display: inline-block;
        margin-top: 12px;
        margin-left: 10px;
        font-size: 13px;
        i {
          margin-left: 5px;
        }
      }
      .card-body {
        position: relative;
      }
      .price {
        position: absolute;
        bottom: -30px;
        right: 15px;
        span {
          font-size: 20px;
          color: $mainColor;
        }
      }
    }
  }

  #msg {
    .my-ads-header {
      margin-bottom: 30px !important;
    }
  }
  .msgs,
  .orders-tab,
  .comment-tabs {
    .card {
      background-color: #fbfbfb;
      border-radius: 6px;
      position: relative;
      padding: 20px;
      padding-bottom: 10px !important;
      transition: all 0.5s ease-in-out;
      margin-top: 10px;
      &:hover {
        border: 1px dashed #fbfbfb;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      }
      .msg-words {
        font-size: 15px;
        font-size: 15px;
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f0e0";
          font-size: 20px;
          float: right;
          margin-left: 10px;
          background: -moz-linear-gradient(top, #b52553 0%, #761366 100%);
          background: -webkit-linear-gradient(top, #b52553 0%, #761366 100%);
          background: linear-gradient(to bottom, #b52553 0%, #761366 100%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .msg-time {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #666;
        font-size: 12px;
      }
    }
  }
  .nav-orders-tabs {
    background-color: #f4f4f4;
    border-radius: 20px;
    width: 310px;
    padding: 3px !important;
    .nav-item {
      .nav-link {
        background-color: transparent !important;
        color: #999;
        padding: 0 !important;
        width: 150px;
        text-align: center;
      }
      .active {
        background-color: #fff !important;
        border-radius: 20px;
        color: #444;
      }
    }
  }
  .orders-tab {
    .card {
      .msg-words {
        &::before {
          content: "\f0f3" !important;
        }
      }
    }
  }
  .comment-tabs {
    .card {
      .msg-words {
        &::before {
          content: "\f086" !important;
        }
      }
    }
  }
  .nav-settings-tab {
    .nav-item {
      margin-left: 10px;
      .nav-link {
        background-color: #fff;
        padding: 15px !important;
        border-radius: 0;
        width: 170px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        color: #666;
      }
      .active {
        background-color: $mainColor;
        color: #fff !important;
      }
    }
  }
  .profile-setting-information {
    .card-setting {
      margin-top: 20px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      padding: 15px;
      width: 580px;
      .name {
        color: #000;
        font-size: 15px;
      }
      .name-result {
        color: #555;
        font-size: 15px;
        margin-right: 150px;
      }
    }
    .change-pass {
      a {
        display: inline-block;
        color: $mainColor;
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }
}

.order-type {
  .select-type-order,
  .city-type-select {
    .my-form-control {
      background-color: transparent;
      width: 100px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding: 5px;
      margin-right: 30px;
    }
  }
  .spans-type-cheack {
    margin-top: 20px;
    margin-bottom: 20px;
    span {
      border-radius: 10px;
      border: 1px solid $mainColor;
      // padding: 4px;
      text-align: center;
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;
      width: 60px;
    }
    .active {
      background-color: $mainColor;
      color: #fff;
    }
  }
  .order-price {
    margin-top: 20px;
    .my-form-control {
      border-radius: 20px;
      border: 1px solid $mainColor;
      text-align: center;
      color: #888;
      padding: 3px;
      width: 140px;
      margin-right: 40px;
    }
  }
  .more-detils {
    margin-top: 30px;
    textarea {
      width: 70% !important;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
    }
  }
  .image-upload {
    // margin-top: -30px !important;
    > input {
      display: none;
    }
    .file-upload {
      text-align: center;
      width: 70%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      cursor: pointer;
      span {
        font-size: 13px;
      }
      i {
        font-size: 10px;
        margin-right: 3px;
      }
    }
  }
  .cheack-types {
    .ul-types {
      margin-top: 30px;
      width: 70%;
      li {
        border-bottom: 1px solid #e9e9e9;
        margin-top: 10px;
        .type-word {
          font-size: 15px;
        }
        i {
          width: 30px;
          height: 30px;
          margin-left: 10px;
          background-color: $mainColor;
          color: #fff;
          font-size: 15px;
          line-height: 30px;
          text-align: center;
        }
      }
      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }
      .checkmark {
        position: absolute;
        top: 10px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .container input:checked ~ .checkmark {
        background-color: $mainColor;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .button-submit {
    text-align: right;
    .btn-submit-form {
      width: 40%;
      height: 35px !important;
      line-height: 15px;
      background-color: $mainColor;
      color: #fff;
      border-radius: 0 !important;
      margin-top: 50px;
    }
  }
}

.take-order-tabs {
  form {
    .select-type-take {
      margin-bottom: 40px;
      select {
        border: 1px solid #ddd;
        width: 150px;
        padding: 5px;
        border-radius: 5px;
        background-color: transparent;
      }
    }
    .boxes-cheack {
      .type-word {
        font-size: 15px;
        margin-right: 35px;
        display: inline-block;
        border: 1px solid #f3c5cd;
        color: #d12c4c;
        width: 100px;
        text-align: center;
        border-radius: 5px;
        padding: 4px;
      }
      .container {
        display: inline;
        position: relative;
        // padding-left: 35px;
        margin-bottom: 12px;
        margin-left: 25px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }
      .checkmark {
        position: absolute;
        top: 5px;
        right: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid #f3c5cd;
        border-radius: 3px;
      }
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .container input:checked ~ .checkmark {
        background-color: $mainColor;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .form2 {
    margin-top: 90px !important;
  }
}

.verfication-div {
  margin-top: 20px;
  ul {
    .fa-check-circle{
      color: #339AF0;
    }
    margin-top: 10px;
    li {
      &::before {
        content: "-";
        margin-left: 3px;
      }
    }
  }
  form {
    .quta {
      margin-top: 60px;
      .quta-span {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 300px;
        height: 180px;
        padding-top: 15px;
        text-align: center;
        margin-left: 10px;
        p {
          font-size: 20px;
          margin: 0;
        }
        h5 {
          font-size: 50px;
          font-weight: bold;
          margin: 0;
          color: #7f1563;
        }
        h6 {
          font-size: 20px;
          letter-spacing: 1px;
        }
      }
      .active {
        border: 4px solid $mainColor;
      }
    }
    .prototype-send {
      margin-top: 30px;
      .my-input-proto {
        width: 40%;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 5px;
      }
      .image-upload {
        // margin-top: -30px !important;
        > input {
          display: none;
        }
        .file-upload {
          text-align: center;
          width: 80%;
          height: 30px;
          border-radius: 5px;
          border: 1px solid #e1e1e1;
          margin-top: 10px;
          cursor: pointer;
          span {
            font-size: 13px;
          }
          i {
            font-size: 10px;
            margin-right: 3px;
          }
        }
      }
    }
    .button-submit {
      text-align: center;
      .btn-submit-form {
        width: 40%;
        height: 35px !important;
        line-height: 15px;
        margin-left: 160px;
        background-color: $mainColor;
        color: #fff;
        border-radius: 0 !important;
        margin-top: 30px;
      }
    }
  }
}

// =================================================
// start department
.department-card {
  .active {
    .card {
      background-color: #e9456b !important;
      color: #fff;
    }
  }
}
.department {
  margin-top: 10px !important;
  .load-more {
    button {
      background-color: #761366;
      color: #fff;
      width: 200px !important;
    }
  }
}

// =====================================================================================================================

// satrt footer
footer {
  background-image: $mainGradientColor;
  .logo-content-logo {
    padding-right: 10px;
    img {
      width: 70%;
      margin-right: -30px;
    }
    p {
      margin-top: -20px;
      font-size: 15px;
    }
  }
  .help-content {
    padding-right: 90px;
    padding-top: 40px;
    ul {
      list-style-type: square;
      li {
        margin-top: 5px;
        a {
          display: inline-block;
          text-decoration: none;
          transition: all 0.5s ease !important;
          &:hover {
            transform: translateX(-5px) !important;
          }
        }
      }
    }
  }
  .social-content {
    padding-right: 90px;
    padding-top: 40px;
    .social {
      i {
        display: inline-block;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
        transition: all 0.5s ease;
        &:hover {
          color: $mainColor;
        }
      }
    }
    input {
      background-color: #fff;
      margin-top: 15px;
      border: 0;
      width: 300px;
      height: 40px;
      color: #444 !important;
      text-align: center;
      border-radius: 5px;
      &::placeholder {
        color: #444;
        opacity: 1; /* Firefox */
      }
    }
    button {
      border: 0 !important;
      border-radius: 5px;
      border: 1px solid #982c87;
      background-color: #982c87;
      height: 40px;
      line-height: 40px;
      width: 300px;
      margin-top: 10px;
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: #06162a;
      }
    }
  }
  .copy {
    background-image: $mainGradientColor;
    padding: 20px;
    position: relative;
    h5 {
      margin: 0;
      font-size: 15px;
      color: #fff;
      margin-top: 20px;
      float: right;
    }
    .logo-funun {
      width: 50%;
      float: left;
      text-align: left;
      img {
        width: 20%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .search-bar {
    top: -6% !important;
    form {
      input,
      select {
        width: 22% !important;
        font-size: 15px;
      }
    }
  }
  footer {
    .social-content {
      input {
        width: 80%;
      }
      button {
        width: 164px !important;
      }
    }
  }
  .ads .card img {
    width: 259px !important;
    height: 180px !important;
  }
  .ads .load-more .btn {
    width: 693px !important;
  }

  .agent-section-tabs {
    .my-ads-card {
      .ads .card img {
        width: 259px !important;
        height: 180px !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .top-header {
    .info span:last-child {
      padding: 0 !important;
    }
    .social {
      text-align: right !important;
      margin-top: 5px;
    }
  }
  .login {
    padding: 0 !important;
    ul {
      padding: 0 !important;
      padding-right: 0 !important;
      text-align: right;
    }
  }

  .show-add-section {
    .add-information {
      .add-opinion {
        .comment-float {
          float: none !important;
        }
        .form-comment {
          width: 98% !important;
          margin-top: 15px;
        }
      }
    }
    .connection-data {
      .connectiion-data-header {
        float: none !important;
      }
    }
  }

  footer {
    .logo-content-logo {
      padding-right: 0px !important;
    }
    input {
      width: 80% !important;
    }
    .help-content,
    .social-content {
      padding-right: 0 !important;
      button {
        width: 266px !important;
      }
    }
    .logo-funun {
      width: 65% !important;
      float: left;
      img {
        width: 20%;
      }
    }
  }
  .agent-section-tabs {
    .nav-settings-tab {
      .nav-item .nav-link {
        margin-top: 10px;
      }
    }
  }
  .slider-card {
    .swiper-container {
      width: 100% !important;
    }
  }
}

@media (max-width: 524px) {
  .ads .card img {
    width: 100% !important;
    height: 100% !important;
  }
  .agent-section-tabs {
    .my-ads-card {
      .card img {
        width: 100% !important;
        height: 100% !important;
      }
      .card .price {
        position: inherit;
        bottom: -10px;
        right: 5px;
      }
    }
  }
  .top-header {
    .info span:last-child {
      padding: 0 !important;
    }
    .social {
      text-align: right !important;
      margin-top: 5px;
    }
  }
  .login {
    padding: 0 !important;
    ul {
      padding: 0 !important;
      padding-right: 0 !important;
    }
  }
  .search-bar {
    form {
      .all-mark {
        top: 30.2%;
        margin-right: 4px;
        width: 6.5%;
      }
      .car-select {
        top: 46.2%;
        margin-right: 4px;
        width: 7.5%;
      }
      .place {
        top: 63.2%;
        margin-right: 4px;
        width: 7.5%;
      }
      input,
      select {
        width: 100% !important;
        margin-top: 5px;
        font-size: 15px;
      }
      button {
        width: 100% !important;
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }

  // ========================================================================
  // add-ads pahe
  .upload-ads {
    form {
      .form-select {
        select {
          width: 100% !important;
          border-bottom: 1px solid #b5b5b5 !important;
        }
      }
      .input-number {
        width: 100% !important;
      }
    }
  }

  // ===================================
  // contact page
  .contact-section {
    form {
      .input-msg-subject {
        width: 100% !important;
      }
    }
  }

  .show-add-section {
    .add-information {
      .add-opinion {
        height: 280px !important;
        .form-comment {
          width: 100% !important;
          .text-comment {
            width: 100% !important;
          }
          .btn-comment {
            position: inherit !important;
            height: 34px !important;
          }
        }
      }
    }
  }

  .agent-section-tabs {
    .profile-setting-information {
      .card-setting {
        width: 350px !important;
        .name-result {
          margin-right: 73px !important;
        }
      }
    }
    .nav-settings-tab {
      .nav-item .nav-link {
        margin-top: 10px;
      }
    }
  }
  footer {
    .help-content,
    .social-content {
      padding-right: 0 !important;
    }

    input {
      width: 235px !important;
    }
    .copy {
      .logo-funun {
        width: 100% !important;
        text-align: right;
        img {
          width: 40% !important;
          margin-top: 10px;
        }
      }
    }
  }
  .show-add-section .add-header span {
    position: inherit !important;
  }
  .ads .load-more .btn {
    width: 287px !important;
  }
  footer .social-content button {
    width: 235px !important;
  }
  .ads .card .price {
    position: inherit;
    bottom: -10px;
    right: 5px;
  }
  .top-header .info span:first-child {
    display: block;
  }
  footer .copy h5 {
    margin-bottom: 20px;
  }
  .verfication-div {
    form {
      .prototype-send {
        .my-input-proto {
          width: 80% !important;
        }
      }
      .quta-span {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 320px) {
  .table {
    td {
      padding: 0 !important;
      font-size: 15px;
      span:first-child {
        font-weight: normal !important;
      }
    }
  }
  .agent-section-tabs {
    .profile-setting-information {
      .card-setting {
        width: 290px !important;
      }
    }
    .nav-orders-tabs {
      width: 296px !important;
      .nav-item {
        .nav-link {
          width: 144px !important;
        }
      }
    }
  }
}
